<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
      <h2>Register</h2>
      <form action="/register">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <div class="email error"></div>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <div class="password error"></div>
        </div>
        <button type="submit">Register</button>
      </form>
    </div>
    <a href="/login">Login</a>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        try {
          const res = await fetch("/register", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "content-Type": "application/json" },
          });
        } catch (error) {
          console.log(error);
        }
      });
    </script>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
